<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Entrar</title>
<style>
section {
	text-align: center;
}

h1 {
	text-align: center;
}
</style>
</head>
<body>
	<nav th:fragment="menucad" class="nav black">
		<div class="nav-wrapper container">
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/">Voltar</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<h1>Login</h1>
		<form action="">
			<div name="Form">
				<label>Email ou CPF</label> <input type="text" name="Email, Cpf">
			</div>

			<div>
				<label>Senha</label> <input type="text" name="Senha">
			</div>
		</form>
		<section>
			<button class="waves-effect waves-light btn" type="submit">Entrar</button>
			<button class="waves-effect waves-light btn" type="reset">Limpar</button>
		</section>
	</div>

</body>
</html>