<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Login</title>
<style>
body {
	background-color: white;
	color: white;
	font: normal 15pt Times New Roman;
	text-align: center;
}

</style>
</head>
<body>
	<br></br>
	<br></br>
	<br></br>
	<div class="container">
		<div name='quadrado'
			style="width: 600px; height: 400px; position: relative; margin-left: auto; margin-right: auto; background-color: black; border: 3px solid grey;">
			<h1>Realize seu login</h1>
			<section>
				<button class="waves-effect waves-light btn" type="submit">
					<a href="/lojas/entrar"><font color=white>ENTRAR</font></a>
				</button>
				<br></br>
				<button class="waves-effect waves-light btn" type="submit">
					<a href="/lojas/cadastro"><font color=white>CADASTRAR-SE</font></a>
				</button>
				<br></br>
				<button class="waves-effect waves-light btn" type="submit">
					<a href="/"><font color=white>VOLTAR</font></a>
				</button>
			</section>
		</div>
	</div>
</body>
</html>