<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Lojas</title>
</head>
<body>
	<h1>Adicionar Loja</h1>
	<form action="/lojas" method="post">
		<div>
			<label>Nome da Loja</label> <input type="text" name="Nome">
		</div>
		
		<div>
			<label>Endereço</label> <input type="text" name="Endereço">
		</div>
		
		<div>
			<label>CNPJ</label> <input type="text" name="CNPJ">
		</div>
		
		<div>
			<label>Tipo de produto</label> <input type="text" name="TipoDeProduto">
		</div>
		
		<div>
			<button type="submit">Salvar</button>
			<button type= "reset">Limpar</button>
		</div>
	</form>
</body>
</html>